<section class="py-24">

  <div  class="max-w-5xl mx-auto px-6 mb-32">
      <div class="bg-white rounded-2xl shadow-xl overflow-hidden">
        <img src="/captura.png" class="w-full" />
      </div>

    </div>

  </div>

</section>