 <section
      class="py-32 text-center text-white bg-linear-to-r from-purple-600 via-blue-500 to-pink-500"
    >
      <h2 class="text-5xl font-bold mb-6">Empieza a organizar tus ideas</h2>

      <p class="opacity-80 mb-10">
        Únete a miles de personas que usan nuestra app para capturar ideas
      </p>

    </section>