 <footer class="bg-[#0c1325] text-gray-400 px-10 py-16">
      <div class="max-w-6xl mx-auto grid md:grid-cols-4 gap-15">
       <p>© 2026 Derechos Reservados</p>

      </div>
      <div
        id="authModal"
        class="fixed inset-0 hidden items-center justify-center bg-black/40 z-50"
      >
        <div class="bg-white rounded-2xl w-105 p-8 shadow-xl relative">
          <!-- close -->
          <button id="closeModal" class="absolute right-4 top-4 text-gray-500">
            ✕
          </button>

          <!-- LOGIN -->
          <div id="loginView">
            <h2 class="text-2xl font-semibold text-center mb-2">Bienvenido</h2>

            <p class="text-gray-500 text-center mb-6">
              Inicia sesión para acceder a tus notas
            </p>

            <form id="loginForm" class="space-y-4">
              <div>
                <label class="text-sm">Correo electrónico</label>
                <input
                  id="loginEmail"
                  class="w-full mt-1 p-3 rounded-lg bg-gray-100"
                  placeholder="tu@email.com"
                />
              </div>

              <div>
                <label class="text-sm">Contraseña</label>
                <input
                  type="password"
                  id="loginPassword"
                  class="w-full mt-1 p-3 rounded-lg bg-gray-100"
                />
              </div>

              <button
                class="w-full py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700"
              >
                Iniciar sesión
              </button>
            </form>

            <p class="text-center text-sm mt-6">
              ¿No tienes cuenta?

              <button id="openRegister" class="text-blue-600 font-medium">
                Regístrate gratis
              </button>
            </p>
          </div>

          <!-- REGISTER -->

          <div id="registerView" class="hidden">
            <h2 class="text-2xl font-semibold text-center mb-2">
              Crear cuenta
            </h2>

            <p class="text-gray-500 text-center mb-6">
              Empieza a guardar tus ideas
            </p>

            <form id="registerForm" class="space-y-4">
              <div>
                <label class="text-sm">Correo electrónico</label>
                <input
                  id="registerEmail"
                  class="w-full mt-1 p-3 rounded-lg bg-gray-100"
                />
              </div>

              <div>
                <label class="text-sm">Contraseña</label>
                <input
                  type="password"
                  id="registerPassword"
                  class="w-full mt-1 p-3 rounded-lg bg-gray-100"
                />
              </div>

              <button
                class="w-full py-3 bg-blue-600 text-white rounded-full hover:bg-blue-700"
              >
                Crear cuenta
              </button>
            </form>

            <p class="text-center text-sm mt-6">
              ¿Ya tienes cuenta?

              <button id="openLogin" class="text-blue-600 font-medium">
                Inicia sesión
              </button>
            </p>
          </div>
        </div>
      </div>
    </footer>