    <header
      id="navbar"
      class="fixed top-0 left-0 w-full z-50 transition-all duration-300"
    >
      <div class="flex justify-between items-center px-10 py-5">
        <div class="flex items-center gap-2 font-semibold text-lg">
          <div
            class="w-8 h-8 rounded-lg bg-linear-to-r from-purple-500 to-indigo-500 flex items-center justify-center"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke="white"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="w-4 h-4"
            >
              <path
                d="M6 2h9l5 5v15a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V4a2 2 0 0 1 2-2z"
              ></path>
              <polyline points="14 2 14 8 20 8"></polyline>
            </svg>
          </div>

          Notas
        </div>

        <nav class="flex items-center gap-8 text-sm">
          <a href="#features" class="hover:text-purple-600">
            Características
          </a>

          <button
            id="loginBtn"
            class="px-4 py-2 bg-blue-600 text-white rounded-full"
          >
            Iniciar sesión
          </button>
        </nav>
      </div>
    </header>